version: '3.8'

services:
  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: shashidharbp04/gemini-backend:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongodb:27017/gemini-chat
      - FRONTEND_URL=http://13.126.134.136:5173
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - MODEL=gemini-2.5-flash
    depends_on:
      - mongodb

  frontend:
    image: shashidharbp04/gemini-frontend:latest
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://13.126.134.136:3000
    depends_on:
      - backend

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30

volumes:
  mongo-data: