.chats {
    flex: 1;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    padding-bottom: 15px;
    scrollbar-width: none;
    min-height: 0;
    scrollbar-width: none;
}

.chats::-webkit-scrollbar {
    display: none;
}

.user-div {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.gemini-div{
    justify-content: flex-start;
    text-align: left;
    font-size: 0.9rem;
    font-size: 17px;
    line-height: 1.6;
    margin: 20px 0;
}

.user-message{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    color: #ececec;
}

.gemini-message pre{
    background-color: #1e1f20;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 10px;
    max-width: 100%;
    margin-top: 10px;
}

.hljs{
    border-radius: 20px;
    background-color: #323232 ; /*Set !imp if the color is required*/
}