.chatwindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar */
.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Center content */
.center-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
}
.logo{
    font-size:18px
}
.icon{
    font-size: 24px;
}
/* Text */
.hello {
    font-size: 22px;
}

.help {
    font-size: 24px;
    color: #aaa;
}

/* Search bar */
.input-box {
    width: 600px;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #1e1f20;
}

.input-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 18px;
}

.input-box input::placeholder {
    color: #aaa;
}

/* Bottom note */
.bottom-info {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}
