.sidebar{
    background-color: #1e1f20;
    color: #e3e3e3;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
}

.new-chat-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.new-chat{
    background-color: #1a1a1c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    cursor: pointer;
    color: #6e6e6e;
    font-size: 17px;
    transition: background 0.3s;
    flex: 1;
}

.new-chat:hover {
    background-color: #333537;
    color: #e3e3e3;
}

.temporary-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: #e3e3e3;
    background-color: transparent;
    transition: background 0.3s;
}

.temporary-chat:hover{
    cursor: pointer;
    background-color: #333537;
}





.sidebar-nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.menu, .search-bar{
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}


.history{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.history li{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    color: #e3e3e3;
    font-size: 15px;
    overflow: hidden;
}

.history li:hover {
    background-color: #282a2c;
}

.bottom-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    color: #e3e3e3;
    font-size: 16px;
}

.bottom-item:hover{
    background-color: #282a2c;
}

.fa-trash{
    opacity: 0;
    position: absolute;
    right: 15px;
    /* margin-left: auto; */
    transition: opacity 0.3s;
    background-color: #1e1f20;
    /* padding-left: 10px; */
}

.history li:hover .fa-trash{
    opacity: 1;
    color: #fff;
}

.fa-trash:hover{
    color: #f87171 !important;
}

.highlighted{
    background-color: #1e3c5a;
}